@use "@/styles/variables.scss" as *;
@use "@/styles/size.scss" as *;

.about {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
    height: 100svh;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &-header {
        display: flex;
        align-items: flex-start;

        height: fit-content;

        &-title {
            @include t-40;
            font-weight: 400;

            margin: 0;

            color: $primary;
        }
    }

    &-description {
        max-width: 800px;

        &-me {
            @include t-20;
            margin: 0;

            padding-bottom: 24px;


            &-job {
                opacity: .65;
            }
        }

        &-others {
            &-services {
                &-detail {
                    margin: 0;
                    padding-left: 16px;

                    @include t-16;
                }
            }

            &-socials {
                margin-top: 24px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;
            }
        }
    }


}