@use "@/styles/variables.scss" as *;

.about {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    min-height: 100svh;

    &-container {
        max-width: 600px;

        &-header {
            &-title {
                margin: 0;

                line-height: 100%;
                letter-spacing: -1.32%;
            }
        }

        &-description {
            margin: 32px 0 0 0;

            font-size: 16px;
            line-height: 160%;
            letter-spacing: -1%;
        }

        &-services {
            display: flex;
            flex-direction: column;
            gap: 0;

            margin: 24px 0 0 0;

            &-detail {
                margin: 0;

                line-height: 160%;
                letter-spacing: -1%;
            }
        }

        &-socials {
            display: flex;
            align-items: center;
            gap: 16px;

            margin: 32px 0 0 0;
        }
    }
}