@use "@/styles/variables.scss" as *;

.landing {
    align-items: center;
    align-content: center;
    row-gap: 82px;

    height: 85svh;

    &-title {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 1;
        font-weight: 400;

        &-beease {
            position: relative;

            padding-left: 24px;

            &::before {
                content: "";
                position: absolute;
                top: 4px;
                left: 2px;
                background-image: url("/beease.svg");
                width: 16px;
                height: 18px;
            }
        }
    }

    &-service {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 2;

        display: flex;
        flex-direction: column;
        gap: 12px;

        &-items {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                margin: 0;
            }
        }
    }
}