@use "@/styles/variables.scss" as *;
@use "@/styles/size.scss" as *;

.craft {
    display: grid;
    gap: 8px;

    width: 100%;
    height: auto;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &-header {
        @media (min-width: 768px) {
            grid-column: span 2;
        }

        &-title {
            margin: 0;

            @include t-40;
            font-weight: 400;

            color: $primary;
        }
    }

    &-wrapper {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 100%;
        aspect-ratio: 1.3 / 1;

        background-color: $grey;

        border-radius: 12px;
        corner-shape: superellipse(1.2);
    }
}