@use "@/styles/variables.scss" as *;

.craft {
    display: grid;
    gap: $gap;

    width: 100%;
    height: auto;

    padding: 80px 8px 8px 8px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 120px 42px 42px 42px;
    }

    &-wrapper {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 100%;
        aspect-ratio: 1.3 / 1;

        background-color: $grey;

        border-radius: 12px;
        corner-shape: superellipse(1.2);
    }
}