@use "@/styles/variables.scss" as *;

.craft {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap;

    width: 100%;
    height: auto;

    padding: 42px clamp(16px, 2.9167vw, 72px);

    &-links {
        grid-column: span 12;

        margin-bottom: 24px;

        color: $primary;
        font-weight: 600;
    }

    section {
        grid-column: auto / span 4;
        height: 100%;

        border: 1px solid $grey;
        border-radius: 12px;

        overflow: hidden;

        @media (max-width: 960px) {
            grid-column: auto / span 6;
        }

        @media (max-width: 480px) {
            grid-column: auto / span 12;
        }
    }
}