@use "./variables.scss" as *;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: "Switzer", Verdana, Helvetica, sans-serif;

    scrollbar-width: thin;
    scrollbar-color: $black rgba(0, 0, 0, 0.01);
}

html {
    scroll-behavior: initial;
}

html,
body {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;

    font-size: var(--size-font);

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    text-rendering: optimizeLegibility;

    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

::selection {
    background-color: $primary;
    color: $black;
    text-shadow: none;
}

::-moz-selection {
    background-color: $primary;
    color: $black;
    text-shadow: none;
}

::view-transition-group(root) {
    z-index: auto;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity, scale;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 2;
    animation: none;
}

::view-transition-old(root) {
    z-index: 1;
    animation: none;
}

a {
    color: inherit;
    text-decoration: underline;
}

strong {
    font-weight: 600;
}

:focus-visible {
    border-radius: 2px;
    outline: 2px solid $primary;
    outline-offset: 2px;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: $black;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.01);
}

img {
    border: 0;
    display: block;
    max-width: 100%;
}

table {
    font-variant-numeric: tabular-nums;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}