/** MODIFY **/

$font: "Helvetica Neue", sans-serif;
$font-size: 18px;

$header-top: 20px;
$logo-w: 225px;
$side-gap-header: clamp(16px, 2.9167vw, 72px);
$side-gap: max($side-gap-header, calc((100vw - 1860px) / 2));

$primary: #EDEAE5;
$secondary: #999181;
$acent: #FC6605;
$white: #FFFFFF;
$black: #1A1818;